@import "../../../common/ui/color";

.sl-user-item {
  width: 100%;
  min-height: 30px;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;

  cursor: pointer;

  .sl-user-item-name,
  .sl-user-item-username,
  .sl-user-item-role {
    flex: 0 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;

    color: $onyx;
  }

  .sl-user-item-role {
    &.is-admin {
      font-weight: bold;
      color: $begonia;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}