@import "../../common/ui/color";
@import "../../common/ui/page";


.sl-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;

  width: $sl-menu-width;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  transition: height 0.5s step-end;

  .sl-menu-content-wrapper {
    flex: 1 1 auto;

    width: $sl-menu-width;
    height: 100%;

    background: $onyx;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: .2s ease opacity, .2s ease transform, .2s ease visibility;
  }

  .sl-menu-overlay {
    flex: 1 1 auto;

    width: calc(100% - #{$sl-menu-width});
    height: 100%;

    display: none;
  }

  .sl-menu-toggle-button {
    display: none;

    position: absolute;

    left: 10px;
    top: 10px;
    z-index: 2;

    width: 88px;
    height: 32px;

    background: $onyx;

    .sl-button-text {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      line-height: 1.2;
      color: $snow;
    }
  }

  .sl-menu-content {
    flex: 1 0 auto;

    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sl-menu-navigation {
    flex: 1 0 auto;

    width: 100%;

    margin-top: 10px;
  }

  .sl-menu-navigation-list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sl-menu-navigation-item {
    flex: 0 0 auto;

    width: 100%;
    height: 50px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .sl-menu-navigation-link {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
  }

  .sl-menu-navigation-icon {
    flex: 0 0 auto;

    width: 24px;
    height: 24px;

    margin-right: 10px;

    display: block;
  }

  .sl-menu-navigation-text {
    flex: 1 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    color: $snow;

    transition: .4s ease color;
  }

  .sl-menu-navigation-link:hover,
  .sl-menu-navigation-link.sl-menu-navigation-link--active {
    .sl-menu-navigation-text {
      color: $pale-turquoise;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .sl-menu-logout-button {
    flex: 0 0 auto;

    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    background: transparent;
    border: 1px solid $pale-turquoise;

    .sl-button-text {
      color: $pale-turquoise;
    }

    &:hover {
      background: rgba($pale-turquoise, .5);

      .sl-button-text {
        color: $onyx;
      }
    }

    &:active {
      box-shadow: inset 0 2px 4px 0 rgba(black, 0.3);
    }
  }

  @media (max-width: $sl-breakpoint) {
    width: 98px;
    height: 42px;

    .sl-menu-content-wrapper {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-$sl-menu-width);
    }

    &.is-visible {
      display: flex;

      transition: height 0.5s step-start;

      width: 100%;
      height: 100%;

      .sl-menu-content-wrapper {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .sl-menu-overlay {
        display: block;
      }
    }

    &:not(.is-visible) {
      .sl-menu-toggle-button {
        display: block;
      }
    }
  }
}