@import "../../../common/ui/color";

.sl-log-item {
  width: 100%;
  min-height: 30px;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;

  cursor: pointer;

  .sl-log-item-user,
  .sl-log-item-door,
  .sl-log-item-status,
  .sl-log-item-time {
    flex: 0 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;

    color: $onyx;
  }


  .sl-log-item-status {
    &.is-success {
      font-weight: bold;
      color: $success-green;
    }

    &.is-error {
      font-weight: bold;
      color: $begonia;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}