@import "../../common/ui/color";
@import "../../common/ui/util";

.sl-input-field {
  width: 100%;

  .sl-input {
    width: 100%;
    height: 50px;

    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.2;

    @include sl-minimal-text-input();
  }

  .sl-input-field--error {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;

    color: $begonia;

    margin-top: 5px;
  }
}