@import "../../common/ui/page";
@import "../../common/ui/color";
@import "../../common/ui/util";

.sl-doors-page {
  @include sl-page();

  .sl-doors-page-change-display-mode-button {
    width: 400px;

    margin: 0 20px 20px 20px;

    @include sl-button-states($deep-tuscan-red);
  }

  @media (max-width: $sl-breakpoint) {
    .sl-doors-page-change-display-mode-button {
      width: 100%;
      max-width: 400px;

      margin-left: 0;
      margin-right: 0;
    }
  }
}