@import "../../../common/ui/color";

.sl-log-list-container {
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sl-log-list-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sl-log-list-header {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 1px solid $deep-tuscan-red;
  }

  .sl-log-list-header-user,
  .sl-log-list-header-door,
  .sl-log-list-header-status,
  .sl-log-list-header-time {
    flex: 1 0 auto;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;

    color: $deep-tuscan-red;
  }

  .sl-log-list-header-user,
  .sl-log-list-header-door,
  .sl-log-list-header-status,
  .sl-log-list-header-time,
  .sl-log-item-user,
  .sl-log-item-door,
  .sl-log-item-status,
  .sl-log-item-time {
    width: 25%;
  }

  .sl-log-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sl-log-list-empty-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $deep-tuscan-red;
  }
}