@import "../../../common/ui/color";

.sl-door-item {
  width: 100%;
  min-height: 30px;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;

  cursor: pointer;

  .sl-door-item-name {
    flex: 0 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;

    color: $onyx;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}