@import "../common/ui/color";
@import "../common/ui/page";
@import "../common/ui/util";

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

textarea, input {
  outline: none;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body, input, select, textarea, button {
  font-family: proxima-soft, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;

  background-color: $snow;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ReactModal__Overlay {
  display: none;
  z-index: 10;

  background: rgba($onyx, 0.80) !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: static !important;

  width: 100%;
  max-width: 360px;
  height: auto;
}

.sl-modal-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;

  margin-bottom: 20px;

  &.is-success {
    color: $success-green;
  }

  &.is-error {
    color: $begonia;
  }
}

.sl-modal-close-button {
  &.is-success {
    @include sl-button-states($success-green);
  }

  &.is-error {
    @include sl-button-states($begonia);
  }
}

.sl-app-container {
  width: 100%;

  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $sl-breakpoint) {
    padding-top: 50px;
  }
}