$sl-breakpoint: 720px;
$sl-menu-width: 240px;

@mixin sl-page($align-items: flex-start) {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: $align-items;

  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $sl-breakpoint + 1px) {
    padding-left: $sl-menu-width + 20px;
  }

  @media (max-width: $sl-breakpoint) {
    padding-left: 10px;
    padding-right: 10px;
  }
}