@import "./color";

@mixin sl-button-states($color, $lighten-amount: 10%, $darken-amount: 10%) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, $lighten-amount);
  }

  &:active {
    background-color: $color;
    box-shadow: inset 0 2px 4px 0 rgba(black, 0.3);
  }

  &:disabled {
    background-color: darken($color, $darken-amount);
    box-shadow: none;
    cursor: not-allowed;
  }
}

@mixin sl-placeholder-color($color) {

  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin sl-minimal-text-input() {
  background: white;
  border: 1px solid $onyx;
  outline: none;
  color: $onyx;

  @include sl-placeholder-color(lighten($onyx, 50));

  &.has-error {
    color: $begonia;
    border: 1px solid $begonia;
    @include sl-placeholder-color($begonia);
  }
}