@import "../../common/ui/page";
@import "../../common/ui/color";
@import "../../common/ui/util";

.sl-dashboard-page {
  @include sl-page();

  .sl-dashboard-welcome-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $deep-tuscan-red;

    margin-bottom: 20px;
  }

  .sl-dashboard-door-list {
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  @media (max-width: $sl-breakpoint) {
    padding: 0 10px;

    .sl-dashboard-door-list {
      justify-content: center;
    }
  }
}