@import "../../common/ui/page";
@import "../../common/ui/color";
@import "../../common/ui/util";

.sl-door-page {
  @include sl-page();

  .sl-door-page-profile {
    width: 100%;
    max-width: 800px;

    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sl-door-page-profile-header,
  .sl-door-page-profile-content {
    width: 100%;

    flex: 0 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .sl-door-page-profile-header {
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 1px solid $deep-tuscan-red;
  }

  .sl-door-page-profile-content {
    margin-bottom: 20px;
  }

  .sl-door-page-profile-header-name {
    flex: 1 0 auto;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;

    color: $deep-tuscan-red;
  }

  .sl-door-page-profile-content-name {
    flex: 0 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;

    color: $onyx;
  }

  .sl-door-page-profile-header-name,
  .sl-door-page-profile-content-name {
    width: 100%;
  }
}