@import "../../../common/ui/color";
@import "../../../common/ui/util";

.sl-door-button-container {
  width: 25%;

  position: relative;

  margin-right: 20px;
  margin-bottom: 20px;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .sl-door-button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    @include sl-button-states($onyx);
  }

}