@import "../../../common/ui/color";

.sl-door-list-container {
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sl-door-list-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sl-door-list-header {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 1px solid $deep-tuscan-red;
  }

  .sl-door-list-header-name {
    flex: 1 0 auto;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;

    color: $deep-tuscan-red;
  }

  .sl-door-list-header-name,
  .sl-door-item-name {
    width: 100%;
  }

  .sl-door-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sl-door-list-empty-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $deep-tuscan-red;
  }
}
