@import "../../common/ui/color";

.sl-button {
  width: 100%;
  height: 50px;
  display: block;

  position: relative;

  border: none;
  border-radius: 8px;

  transition: background .4s ease;

  .sl-button-content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;
  }

  .sl-button-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: $snow;
  }

  .sl-button-loader {
    animation: sl-button-loader-rotate 2s linear infinite;

    .sl-button-loader-path {
      stroke-dasharray: 1,150;
      stroke-dashoffset: 0;
      stroke: rgba(white, .5);
      stroke-linecap: round;
      animation: sl-button-loader-dash 1.5s ease-in-out infinite;
    }
  }

  @keyframes sl-button-loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sl-button-loader-dash {
    0% {
      stroke-dasharray: 1,150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -124;
    }
  }
}