@import "../../../common/ui/color";
@import "../../../common/ui/util";

.sl-authorization-item {
  width: 100%;
  min-height: 30px;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;

  cursor: pointer;

  .sl-authorization-item-name {
    flex: 0 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;

    color: $onyx;
  }

  .sl-authorization-item-status {
    flex: 1 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;

    &.is-allowed {
      color: $success-green;
    }

    &.is-disallowed {
      color: $deep-tuscan-red;
    }
  }

  .sl-authorization-item-change-status-button {
    flex: 0 0 auto;

    width: 100px;

    @include sl-button-states($onyx);
  }

  .sl-authorization-item-name,
  .sl-authorization-item-status,
  .sl-authorization-item-change-status-button {
    width: 33.3333333333%;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}