@import "../../../common/ui/color";
@import "../../../common/ui/util";

.sl-user-form {
  width: 100%;
  max-width: 440px;
  padding-left: 20px;
  padding-right: 20px;

  .sl-user-form-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    line-height: 1.2;
    color: $deep-tuscan-red;

    margin-bottom: 20px;
  }

  .sl-user-field-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 20px;
  }

  .sl-input-field {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .sl-user-form-submit-button {
    @include sl-button-states($onyx);
  }
}